<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
          <basicHttpBinding>
            <binding name="BasicHttpBinding_IImageProcessingService" messageEncoding="Mtom" transferMode="Streamed" maxReceivedMessageSize="1342177728">
              <readerQuotas maxStringContentLength="1342177728" maxArrayLength="1342177728"/>
            </binding>
          </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/KM_Image_Processing_Service/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImageProcessingService"
                contract="ServiceReference.IImageProcessingService" name="BasicHttpBinding_IImageProcessingService" />
        </client>
    </system.serviceModel>
</configuration>